@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,600;8..144,700&display=swap');
$primaryFont: 'Lobster', sans-serif;
$secondaryFont: 'Roboto Flex', sans-serif;;
/*
$primaryColor: ;
$secondaryColor: ;
*/
@mixin itemStyle {
    border-radius: 15px;
    width: 10rem;
    height: 10rem;
    @include flex-center;
    flex-direction: column;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin textNoStyle {
    text-decoration: none;
    list-style: none;
    color: black;
    &:visited {
        text-decoration: none;
    }
}
@mixin cardStyle {
    height: 68vh;
    background-color: white;
    border-radius: 25px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    font-family: $primaryFont;
    height: 15vh;
    @include flex-center;
    h1 {
        font-size: 3.5rem;
        color: rgb(254, 109, 184);
        text-shadow: 1px 1px 1px rgb(100, 100, 100);
    }
}
body {
    background-color: rgb(255, 234, 237);
    font-family: $secondaryFont;
}
main {
    height: 85vh;
    @include flex-center;
    gap: 4rem;
    font-family: $secondaryFont;
    button {
        font-family: $secondaryFont;
        padding: .2rem .45rem;
        border: none;
        border-radius: 15px;
    }
    #inventory {
        h2 {
            font-family: $primaryFont;
            color: rgba(128, 128, 128, 0.75);
            font-size: 2.5rem;
        }
        width: 38vw;
        @include cardStyle;
        display: flex;
        flex-direction: column;
        gap: 14vh;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem;
        #fullList {
            display: grid;
            gap: 2.5rem;
            grid-template-areas: 
                "box1 box2 box3"
                "box4 box5 box6";
            .flavorCover {
                @include itemStyle;
                cursor: pointer;
                gap: 0.75rem;
                font-size: 1.25rem;
                transition-duration: .5s;
                transition-property: box-shadow;
                &:hover {
                    box-shadow: 2px 2px 2px gray;
                }
                &:active {
                    box-shadow: inset 2px 2px 2px gray;
                }
            }
            .flavorDetail {
                box-shadow: inset 2px 2px 2px gray;
                @include itemStyle;
                p {
                    font-size: .85rem;
                    margin-bottom: .15rem;
                }
                .threeBtns {
                    margin-top: 1rem;
                    .btn-purple {
                        background-color: rgba(176, 0, 235, 0.3);
                        cursor: pointer;
                        margin-right: .25rem;
                        transition-duration: .25s;
                        transition-property: background-color color;
                        &:hover {
                            background-color: rgba(193, 0, 193, 0.75);
                            color: white;
                        }
                    }
                    .btn-yellow {
                        background-color: rgba(255, 255, 27, 0.3);
                        cursor: pointer;
                        margin-right: .25rem;
                        transition-duration: .25s;
                        transition-property: background-color color;
                        &:hover {
                            background-color: rgba(147, 110, 0, 0.75);
                            color: white;
                        }
                    }
                    .btn-gray {
                        background-color: rgba(128, 128, 128, 0.3);
                        cursor: pointer;
                        transition-duration: .25s;
                        transition-property: background-color color;
                        &:hover {
                            background-color: gray;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    #orderList {
        width: 24vw;
        @include cardStyle;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem;
        h2 {
            font-family: $primaryFont;
            color: rgba(128, 128, 128, 0.75);
            font-size: 2.5rem;
            margin-bottom: 3.5rem;
        }
        .order {
            @include flex-center;
            gap: 1rem;
            margin-bottom: 1.5rem;
            .order-2 {
                width: 7vw;
                display: flex;
                flex-direction: column;
                gap: .25rem;
                .input {
                    display: flex;
                    align-items: center;
                    gap: .25rem;
                    input {
                        width: 2.5rem;
                    }
                }
            }
            .order-3 {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                .updateBtn {
                    background-color: rgba(0, 128, 0, 0.3);
                    cursor: pointer;
                    transition-duration: .25s;
                    transition-property: background-color color;
                    &:hover {
                        background-color: rgba(0, 128, 0, 0.85);
                        color: white;
                    }
                }
                .removeBtn {
                    background-color: rgba(224, 0, 30, 0.3);
                    cursor: pointer;
                    transition-duration: .25s;
                    transition-property: background-color color;
                    &:hover {
                        background-color: rgba(224, 0, 30, 0.75);
                        color: white;
                    }
                }
            }
        }
    }
}