@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,600;8..144,700&display=swap");
/*
$primaryColor: ;
$secondaryColor: ;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Lobster", sans-serif;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 3.5rem;
  color: rgb(254, 109, 184);
  text-shadow: 1px 1px 1px rgb(100, 100, 100);
}

body {
  background-color: rgb(255, 234, 237);
  font-family: "Roboto Flex", sans-serif;
}

main {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-family: "Roboto Flex", sans-serif;
}
main button {
  font-family: "Roboto Flex", sans-serif;
  padding: 0.2rem 0.45rem;
  border: none;
  border-radius: 15px;
}
main #inventory {
  width: 45vw;
  height: 68vh;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 5.25rem;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
}
main #inventory h2 {
  font-family: "Lobster", sans-serif;
  color: rgba(128, 128, 128, 0.75);
  font-size: 2.5rem;
}
main #inventory #fullList {
  display: grid;
  gap: 2.5rem;
  grid-template-areas: "box1 box2 box3" "box4 box5 box6";
}
main #inventory #fullList .flavorCover {
  border-radius: 15px;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  gap: 0.75rem;
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transition-property: box-shadow;
}
main #inventory #fullList .flavorCover:hover {
  box-shadow: 2px 2px 2px gray;
}
main #inventory #fullList .flavorCover:active {
  box-shadow: inset 2px 2px 2px gray;
}
main #inventory #fullList .flavorDetail {
  box-shadow: inset 2px 2px 2px gray;
  border-radius: 15px;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #inventory #fullList .flavorDetail p {
  font-size: 0.85rem;
  margin-bottom: 0.15rem;
}
main #inventory #fullList .flavorDetail .threeBtns {
  margin-top: 1rem;
}
main #inventory #fullList .flavorDetail .threeBtns .btn-purple {
  background-color: rgba(176, 0, 235, 0.3);
  cursor: pointer;
  margin-right: 0.25rem;
  transition-duration: 0.25s;
  transition-property: background-color color;
}
main #inventory #fullList .flavorDetail .threeBtns .btn-purple:hover {
  background-color: rgba(193, 0, 193, 0.75);
  color: white;
}
main #inventory #fullList .flavorDetail .threeBtns .btn-yellow {
  background-color: rgba(255, 255, 27, 0.3);
  cursor: pointer;
  margin-right: 0.25rem;
  transition-duration: 0.25s;
  transition-property: background-color color;
}
main #inventory #fullList .flavorDetail .threeBtns .btn-yellow:hover {
  background-color: rgba(147, 110, 0, 0.75);
  color: white;
}
main #inventory #fullList .flavorDetail .threeBtns .btn-gray {
  background-color: rgba(128, 128, 128, 0.3);
  cursor: pointer;
  transition-duration: 0.25s;
  transition-property: background-color color;
}
main #inventory #fullList .flavorDetail .threeBtns .btn-gray:hover {
  background-color: gray;
  color: white;
}
main #orderList {
  width: 28vw;
  height: 68vh;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
}
main #orderList h2 {
  font-family: "Lobster", sans-serif;
  color: rgba(128, 128, 128, 0.75);
  font-size: 2.5rem;
  margin-bottom: 3.5rem;
}
main #orderList .order {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
main #orderList .order .order-2 {
  width: 10vw;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
main #orderList .order .order-2 .input {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
main #orderList .order .order-2 .input input {
  width: 2.5rem;
}
main #orderList .order .order-3 {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
main #orderList .order .order-3 .updateBtn {
  background-color: rgba(0, 128, 0, 0.3);
  cursor: pointer;
}
main #orderList .order .order-3 .updateBtn:hover {
  background-color: rgba(0, 128, 0, 0.85);
  color: white;
}
main #orderList .order .order-3 .removeBtn {
  background-color: rgba(224, 0, 30, 0.3);
  cursor: pointer;
}
main #orderList .order .order-3 .removeBtn:hover {
  background-color: rgba(224, 0, 30, 0.75);
  color: white;
}/*# sourceMappingURL=index.css.map */