@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,600;8..144,700&display=swap');
$primaryFont: 'Lobster', sans-serif;
$secondaryFont: 'Roboto Flex', sans-serif;;
/*
$primaryColor: ;
$secondaryColor: ;
*/
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin textNoStyle {
    text-decoration: none;
    list-style: none;
    color: black;
    &:visited {
        text-decoration: none;
    }
}
@mixin cardStyle {
    height: 60vh;
    background-color: white;
    border-radius: 25px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    font-family: $primaryFont;
    height: 15vh;
    @include flex-center;
    h1 {
        font-size: 3.5rem;
        color: rgb(254, 109, 184);
        text-shadow: 1px 1px 1px rgb(100, 100, 100);
    }
}
body {
    background-color: rgb(255, 234, 237);
    font-family: $secondaryFont;
}
main {
    height: 85vh;
    @include flex-center;
    gap: 4rem;
    font-family: $secondaryFont;
    button {
        font-family: $secondaryFont;
        padding: .2rem .45rem;
        border: none;
        border-radius: 15px;
    }
    #inventory {
        h2 {
            font-family: $primaryFont;
            color: rgba(128, 128, 128, 0.75);
            font-size: 2.5rem;
        }
        width: 45vw;
        @include cardStyle;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem;
        #fullList {
            display: grid;
            gap: 2.5rem;
            grid-template-areas: 
                "box1 box2 box3"
                "box4 box5 box6";
            #chocolate {
                grid-area: box1;
            }
            #cherry {
                grid-area: box2;
            }
            #mango {
                grid-area: box3;
            }
            #watermelon {
                grid-area: box4;
            }
            #kiwi {
                grid-area: box5;
            }
            #cookies {
                grid-area: box6;
            }
            .flavorCover {
                box-shadow: 2px 2px 2px gray;
                border-radius: 15px;
                width: 8rem;
                height: 8rem;
                @include flex-center;
                flex-direction: column;
                cursor: pointer;
            }
        }
    }
    #orderList {
        width: 25vw;
        @include cardStyle;
    }
}